<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>GMSApiKey</key>
	<string>AIzaSyDlQNSNWIsIVYYyFUzMwCqbvtNCiB9qyGc</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Diet Watch needs your location to find nearby restaurants with safe menu options for your dietary needs.</string>
</dict>
</plist>
